body {
    padding: 15px;
}

hr {
    margin: 0;
}

.content {
    width: auto;
    min-width: 500px;
    height: auto;
    min-height: 600px;
    box-sizing: border-box;
}

.button {
    width: 70px;
    height: 32px;
    text-align: center;
    border: none;
    font-family: Arial, serif;
    font-size: 16px;
    box-sizing: border-box;
    padding: 3px;
    user-select: none;
}

.menu-button {
    display: inline-block;
}

.button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.header {
    width: inherit;
    height: 43px;
}

.menu-header {
    border: 1px solid lightgray;
    border-bottom: 0;
    padding: 5px;
}

.button-header {
    border: 1px solid black;
    border-bottom: 0;
    padding: 3px;
}

.text {
    width: inherit;
    height: auto;
    min-height: 600px;
    border: 1px solid black;
    font-size: 20px;
    resize: none;
    overflow: hidden;
}

.functional-button {
    width: 32px;
    height: 32px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    background-color: rgb(232, 232, 238);
    border-radius: 2px;
    user-select: none;
}

.functional-button-list {
    width: 44px;
    height: 32px;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    padding-top: 6px;
    background-color: rgb(232, 232, 238);
    border-radius: 2px;
}

.functional-button-down {
    width: 10px;
    font-size: 15px;
    padding-bottom: 5px;
}

.functional-button-list:hover {
    background-color: lightgray;
    cursor: pointer;
}

.functional-button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.functional-button-list-down {
    vertical-align: text-bottom;
}

.down-button {
    height: 35px;
    font-size: 17px;
    text-align: center;
    padding: 6px;
    display: block;
}
.down-button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.separator {
    margin-top: 3px;
    margin-bottom: 3px;
}

.down-menu {
    min-width: 100px !important;
}

.menu-button-top {
    vertical-align: top;
}

.button-tag {
    color: rgb(232, 232, 238);
}

.edit-down {
    width: 200px;
}

.to-left {
    float: left;
}

.to-right {
    float: right;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.image {
    width: 250px;
    height: 250px;
    float: left;
    margin: 7px 7px 7px 0;
}


