body {
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
}

main {
    height: 90%;
}

body {
    padding: 15px;
}

hr {
    margin: 0;
}

.content {
    width: auto;
    min-width: 500px;
    height: 100%;
    min-height: 600px;
    box-sizing: border-box;
}

.button {
    width: 70px;
    height: 32px;
    text-align: center;
    border: none;
    font-family: Arial, serif;
    font-size: 16px;
    box-sizing: border-box;
    padding: 3px;
    user-select: none;
}

.menu-button {
    display: inline-block;
}

.button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.header {
    width: inherit;
    height: 43px;
}

.menu-header {
    border: 1px solid lightgray;
    border-bottom: 0;
    padding: 5px;
}

.button-header {
    border: 1px solid black;
    border-bottom: 0;
    padding: 5px;
}

.text {
    width: inherit;
    height: auto;
    min-height: 600px;
    max-height: 100%;
    border: 1px solid black;
    font-size: 20px;
    resize: none;
    overflow: auto;
    padding: 5px;
}

.functional-button {
    width: 32px;
    height: 32px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    background-color: rgb(232, 232, 238);
    border-radius: 2px;
    user-select: none;
}

.functional-button-list {
    width: 45px;
    height: 32px;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    background-color: rgb(232, 232, 238);
    border: none;
    border-radius: 2px;
}

.functional-button-down {
    width: 10px;
    font-size: 15px;
    padding-bottom: 5px;
}

.functional-button-list:hover {
    background-color: lightgray;
    cursor: pointer;
}

.functional-button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.functional-button-list-down {
    vertical-align: text-bottom;
}

.down-button {
    height: 35px;
    font-size: 17px;
    text-align: center;
    padding: 6px;
    display: block;
}

.format-down-button {
    padding: 1px;
}

.hover-down-button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.test-with-icon {
    float: left;
    padding-left: 10px;
}

.separator {
    margin-top: 3px;
    margin-bottom: 3px;
}

.down-menu {
     min-width: 100px !important;
}

.format-down-menu {
    min-width: 45px !important;
}

.menu-button-top {
    vertical-align: top;
}

.button-tag {
    color: rgb(232, 232, 238);
}

.edit-down {
    width: 200px;
}

.to-left {
    float: left;
}

.to-right {
    float: right;
}

.input-field {
    width: 50px;
}

.table-down-menu {
    padding: 5px !important;
}

.table-element {
    padding: 3px;
}

.image {
    width: 250px;
    height: 250px;
    float: left;
    padding: 7px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.generate-table {
    display: inline-table;
}

.table-cell {
    border: 1px solid black;
    min-width: 50px;
    min-height: 30px;
    padding: 2px;
}

.new-button {
    width: 32px;
    height: 32px;
    margin-bottom: 5px;
    margin-right: 3px;
    border-radius: 2px;
}

.new-button:hover {
    opacity:.70;
    cursor: pointer;
}



